<!DOCTYPE html>
<html>
<head>
  <title>Jumbler</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="main-container" class="container-fluid">
  <div class="row">
    <div id="sidebar" class="col-xs-3">
      <!-- sidebar content -->
    </div>
    <div id="main-content" class="col-xs-9">
      <%= yield %>

    </div>
  </div>
</div>



</body>
</html>
